@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;300;400;500;600;700&family=Poppins:wght@200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,500;1,400;1,700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Josefin Sans', sans-serif;
  
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #dbdfea
}

::-webkit-scrollbar-thumb {
  background: #cc063E;
  border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
  background: #800427;
}
:root{
scroll-behavior: smooth;
}
.row{
  width: 100%;
  max-width: 1200px;
  
}
nav{
  display: flex;
  justify-content: center;
  position: absolute;
  width: 100%;
  left: 50%;
  transform: translate(-50%);
  z-index: 10;
}
.nav__wrapper{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
a{
  text-decoration: none;
  color: #cc063E;
  font-weight: 800;
}
.nav__ele{
  position: relative;
  width: 200px;
  margin: 0 20px 0 0;
  display: flex;
  justify-content: space-between;
}
.logo{
  padding: 0 0 0 20px;
  scale: 1.8;
  width: 100px;
}

.langing__title{
  margin-top: 200px;
  color: #242426;
  font-weight: 900;

}
.img__wrapper{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.landing__img{
  scale: 1.3;
  width: 70%;
}
.landing__wrapper{
  background: linear-gradient(-45deg, whitesmoke, #84d2e6, #d8899f, #84d2e6, whitesmoke, #d8899f);
  background-size: 400% 400%;
	height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  animation: gradient 15s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


.cart__length{
  position: absolute;
  right: -10px;
  top: -10px;
  color: #ffffff;
  border-radius: 50%;
  text-align: center;
  background-color: #242426;
  width: 18px;
}
.loader{
  color: whitesmoke;
  position: absolute;
  top: 21.5%;
  right: 0;
  transform: translate(-50%, -50%);
  font-weight: 800;
  font-size: 25px;
  height: 50px;
  padding: 15px 0 0 0;
  display: flex;
}
.words {
  overflow: hidden;
}
.word {
  display: block;
  height: 100%;
  padding-left: 6px;
  color: #84d2e6;
  animation: spin 4s ease infinite;
}
@keyframes spin {
  10% {
    transform: translateY(-105%);
  }
  25% {
    transform: translateY(-100%);
  }
  35% {
    transform: translateY(-205%);
  }
  50% {
    transform: translateY(-200%);
  }
  60% {
    transform: translateY(-305%);
  }
  75% {
    transform: translateY(-300%);
  }
  85% {
    transform: translateY(-405%);
  }
  100% {
    transform: translateY(-400%);
  }
}
.info__sec-wrapper{
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.info__wrapper{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.info{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: start;
  border: 5px solid #242426;
  background-color: #cc063E;
  border-radius: 10px;
  height: 250px;
  width: 300px;
  margin: 100px 0;
  padding: 0 15px;
  position: relative;
  overflow: hidden;
  color: #84d2e6;
  
}
.icon{
  color:#cc063E;
  font-size: 20px;
  height: 45px;
  padding: 5px;
  border-radius: 10px;
  background-color:#84d2e6;
}
.icon__bg{
position: absolute;
font-size: 200px;
color: #242426;
z-index: 0;
transform: rotate(20deg);
top: 30%;
left: 30%;

}
.info__h3{
  font-size: 20px;
  text-align: start;
  margin-top: -25px;
  z-index: 1;
}

.section__title{
  margin: 40px 0 20px 0;
  font-size: 35px;
  color: #84d2e6;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;

}
.sec__t{
  background-color: #242424;
  height: 80px;
  width: 100%;
}
.Categories__sec-wrapper{
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #cc063E;

}
.Categories__wrapper{
  margin: 50px 0;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  
}
.catg__wrapper{
  margin-top: 20px;
  width: 200px;
  height: 300px;
}
.catg__button{
  
  margin: 10px 0;
  font-size: 18px;
  font-weight: 800;
  border:3px solid #242426;
  border-radius: 8px;
  background-color: white;
  width: 150px;
  height: 30px;
  margin-bottom: -15px;
  cursor: pointer;
  transition: 300ms ease;
}
.catg__button:active{
scale: 0.9;
}
.catg__button:hover, .catg__info:hover{
  border: 3px solid rgb(37, 37, 37);;
}
.catg__info{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  border: 5px solid #242426;
  border-radius: 10px;
  height: 300px;
  transition: 300ms ease;
  padding: 20px;
}
.catg__img{
  width: 100%;
}
.orange{
  color: #cc063E;
  font-weight: 900;
}
.CartShopping{
  color: #838383;
  cursor: pointer;
}
.CartShopping:hover{
scale: 1.1;
color: #cc063E;
}
.Feautured__sec-wrapper{
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #84d2e6;
}
.items__wrapper{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
}
.items__title{
  font-size: 15px;  
}
.item__title{
  font-size: 25px;
}
.item__info{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 290px;
  margin: 5px 5px 30px 5px;
  padding: 10px;
  height: 420px;
  background-color: rgb(255, 255, 255);
  border: 5px solid #242426;
  border-radius: 10px;
}
.details__wrapper{
  margin: 0 auto ; 
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-end;
  
}
.details{
  font-size: 20px;
  margin: 30px auto 0 auto;
  width: 150px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.heart{
  color: rgb(116, 116, 116);
  animation: beat 500ms linear 2s infinite alternate;
}
.heart:hover{
  color: red;
}
.heart:active{
  color: red;
}
@keyframes beat {
  from {scale: 1}
  to {scale: 1.1}
}

.item__img{
  width: 100%;
  height: 170px;
  margin-bottom: 70px;
}
.item__img:hover{
  scale: 1.05;
}
.footer__wrapper{
  height: 250px;
  width: 100%;
background-color: #242424;
  justify-content: center;
  display: flex;
  align-items: center;
}
.footer__elem{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  color: #e6713b;
}
.products{
  display: flex;
  justify-content: space-between;
}

.products__wrapper{
  background-color: #838383;
  width: 100%;
  display: flex;

  justify-content: center;
}
.product__wrapper{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 10px ;
}

.product__img:hover{
  scale: 1.02;
}
.product__info{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 265px;
  min-width: 100px;
  margin: 10px 15px;
  padding: 20px;
  height: 420px;
  background-color: rgb(255, 255, 255);
  border: 5px solid #cc063E;
  border-radius: 10px;

}


.btn__menu{
  background-color: transparent;
  border: none;
  font-size: 40px;
  text-align: center;
  color:#cc063E;
  display: none;
}

.menu__backdrop{
  position: absolute;
  background-color:#cc063E;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  height: 100vh;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 300ms ease;
  opacity: 1;
  max-height: 100vh;
  box-shadow: 0 0 100px black inset;
}

.menu__list{
  padding: 32px 0;
}
.menu__link{
  font-size: 40px;
  color: #242424;
  text-decoration: none;
}
.menu__links{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.btn__menu--close{
  position: absolute;
  right: 20px;
  top: 10px;
  padding: 8px;
  color: #242424;
}


.price{
  color: #cc063E;
  font-size: 20px;
}
.background{
  width: 100%;
  image-rendering: pixelated;
  
}
.gray{
  background-color: #838383;
}
.prod__info{
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  border: 5px solid #cc063E;
  border-radius: 10px;
  padding: 25px;
  height: 500px;
  width: 100%;
  margin: 120px 0;
}
.prod__im{
  margin: 0 25px 0 30px;
  width: 35%;
}
.prod__img{
  width: 100%;
  height: 100%;
}
.prod__dtails{
  
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  line-height: 1.3;
}
.items__info{
  color: #cc063E;
  margin: 2px 0 0 0;
}
.prod{
  color:#cc063E;
  font-size: 45px;
  font-weight: 800;
  text-transform: uppercase;
}
.prod_w{
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(36, 36, 36, 0.98);
  box-shadow: 0 0 100px  #000000;
  
}
.products__img{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 300px;
  background-color: #838383;
}
.product__img--wrapper{

  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(./assets/bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 300px;

}
.sort{
  margin: 30px 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
#filter{
  width: 200px;
  height: 25px;
  background-color: #cc063E;
  border-radius: 5px;
  border: 2px solid rgb(49, 49, 49);
  color: whitesmoke;
  font-size: 18px;
}
h4{
  color: #cc063E;
  font-size: 30px;
  
}
.itm__info{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 290px;
  margin: 15px 5px;
  padding: 30px;
  background-color: rgb(255, 255, 255);
  border: 5px solid #cc063E;
  border-radius: 10px;
}
.wrapper{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer{
  background-color:#242426;
}
.margin{
  height: 80px;
}
.gategory__wrapper{
  background-color: #838383;
  width: 100%;
  display: flex;
  justify-content: center;
}
.categ__wrapper{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;

}
.btn__center{
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.item__btn{
  width: 100px;
  background-color: #cc063E;
}
.cart__btn{
  background-color: #cc063E;
  color: whitesmoke;
  border-radius: 5px;
  border: none;
  width: 100px;
  height: 25px;
  cursor: pointer;
}
.btn-danger{
  margin: 0 auto;
  background-color: #cc063E;
  height: 30px;
  width: 120px;
  color: white;
  border-radius: 20px;
  border-style: none;
  box-shadow: 0 0 10px #cc063E;
}
.disabled{
  display: none;
}
.btn-danger:active{
  scale: 0.8;
}
.catg__h2{
  color: #242426;
  text-align: center;
}

@media (max-width: 1170px) {
  .loader{
    font-size: 20px;
    top: 21.5%;
    right: 0%;
  }
}
@media (max-width: 900px) {
  .loader{
    font-size: 15px;
    top: 21.5%;
    right: 0%;
  }
  .product__info{
    margin: 5px 0;
    display: flex;
    justify-content: flex-start;
  }
  
}


@media (max-width: 620px) {
  .langing__title{
    font-size:100%;
    margin: 20px 0 0 0;
  }
  .loader{
    font-size: 15px;
    top: 21.5%;
    right: 0%;
  }
  .words{
    font-size: 10px;
  }
  .info__wrapper{
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 100%;
  }

  .info{
    margin: 20px auto;
    width: 80%;
  }
  .icon__bg{
    left: 30%;
    top: 20%;
    font-size: 250px;
  }
  .catg__info{
    padding: 20px;
  }
  .catg__wrapper{
    margin-bottom: 20px;
  }
  .item__info{
    margin: 10px auto;
    padding: 5px;
    width: 49%;
  }
  h4{
    font-size: 24px;
  }
  .product__info{
    margin: 2px;
    width: 200px;
    padding: 4px;
  }
  .prod__info{
    margin: auto;
    flex-direction: column;
    height: 100%;
  }

  .prod__dtails{
    width: 100%;
    font-size: 15px;
    margin: 10px 0;
  }
  .items__info{
    margin-top: 10px;
  }
  .products{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items:center;
  }
  .itm__info{
    margin: 10px auto;
    width: 200px;
  }

}

@media (max-width: 550px) {
  .loader{
    font-size: 15px;
    top: 22.5%;
    right: -7%;
  }
  .btn__menu{
    margin: 0 10px 0 0;
    display: block;
  }
  .nav__ele{
    display: none;
  }
  .product__info{
    margin: 5px auto;
    width: 49%;
    padding: 4px;
  }
  h4{
    font-size: 18px;
  }
  .prod_w{
    font-size: 20px;
  }
  .prod__im{
    width: 70%;
  }
  .sec__t{
    font-size: 20px;
    border-radius: 20px;
    
  }
  .items__wrapper{
    margin: 0 auto;
  }
  .itm__info{
    width: 46%;
    padding: 20px 5px;
    margin: 5px 1px;
  }


  .basket__empty{
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 400px;
    font-size: 12px;
  }
  .basket__item--title{
    display: none;
  }
  .Ms__cloth{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}


.items__body{
  padding: 20px;
  background-color: #838383;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.basket{
  background-color: #242424;
  margin: 0 8px;
  color: #cc063E;
}

.basket__header{
  display: flex;
  background-color: #cc063E;
  color: white;
  padding: 8px 4px;
}

.basket__item{
  padding: 0 8px 0 16px;
  width: 50%;
  display: flex;
}

.basket__item--row{
  display: flex;
  align-items: center;
}

.basket__quantity{
  width: 20%;
  padding: 0 8px 0 8px;
}

.basket__price{
  text-align: right;
  width: 30%;
  padding: 0 16px 0 8px;
}

.basket__item--wrapper{
  display: flex;
  align-items: center;
  margin: 16px 0;
}

.basket__item--img{
  width: 30%;
  border: 2px solid #cc063E;
  border-radius: 10px;
}

.basket__item--info{
  margin-left: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.basket__item--title{
  font-weight: 700;
  font-size: 100%;
  margin-bottom: 4px;
}

.basket__item--price{
  font-weight: 700;
  margin-bottom: 12px;
}

.basket__input{
  padding: 4px 8px;
}

.basket__item--remove{
  color: red;
  font-size: 12px;
  cursor: pointer;
}   

.basket__price--container{
  border-top: 2px solid #cc063E;
  display: flex;
  flex-direction: column;
  width: 350px;
  margin-top: 32px;
  height: 300px;
  position:  relative;
  float: right;
}

.basket__subtotal, .basket__tax, .basket__total{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 8px 4px;
}

.basket__total{
  margin-top: 16px;
}

.basket__price--title{
  font-weight: 700;
  font-size: 20px;
}

.basket__price--label{
  font-size: 18px;
}

.basket__empty{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 32px 0;
}

.basket__empty--img{
  width: 40%;
  margin-bottom: 32px;
}
.not{
  cursor: not-allowed;
  margin: 20px 0;
  height: 25px;
  background-color: #cc063E;
  color: #ffffff;
  border: none;
  width: 350px;
  border-radius: 10px;
}
.btn{
  margin: 20px 0;
  height: 25px;
  background-color: #cc063E;
  color: #ffffff;
  border: none;
  width: 350px;
  border-radius: 10px;
  cursor: pointer;
}
.no-cursor{
  cursor: not-allowed;
}